@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,300;0,400;0,700;1,700&display=swap');

*{
    box-sizing: border-box;
}
body {
    background-color: #E5E5E5;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 44px;
    font-weight: 400;
    color:#FFFFFF;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
}
h3 {
    font-family: 'Righteous', cursive;
    font-size: 26px;
    font-weight: 400;
    color: #333333;
}
h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333333;
}
h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}
h6{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
}
.fechar h2 {
    font-weight: 700;
    font-size: 20px;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #A6A6A6;
}
img {
    width:144px;
    height: 87px;
}
ion-icon {
    width: 17px;
    height: 17px;
    color: #32b72f;
}
.topo{
    background-color: #CF2B2B;
    height: 92px;
    width: 100%;
    padding-left: 21px;
    padding-top: 15px;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
}
.prato-principal {
    width: 100%;
    margin-top:123px;
    padding-left: 19px;
}
.bebidas {
    width: 100%;
    margin-top: 20px;
    padding-left: 19px;
}
.sobremesa {
    width: 100%;
    margin-top: 25px;
    padding-left: 19px;
    margin-bottom: 110px;
}
.opcoes {
    margin-top: 17px;
    display: flex;
    overflow-x: scroll;
}
.opcao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 172px;
    height: 216px;
    border-radius: 9px;
    background-color: #FFFFFF;
    margin-right: 16px;
    padding: 18px 14px;
    box-shadow: 0px 3px lightgray;
    margin-bottom: 4px;
}
.opcao ion-icon {
    display:none;
}

.check {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.pedido {
    background-color: #FFFFFF;
    height: 92px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
}
.botao {
    background-color: #CBCBCB;
    height: 61px;
    margin: 15px 25px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.selecionadoPrato {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
    border-radius: 9px;
}
.selecionadoPrato ion-icon {
    display: initial;
}
.selecionadoBebida {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
    border-radius: 9px;
}
.selecionadoBebida ion-icon {
    display: initial;
}
.selecionadoSobre {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
    border-radius: 9px;
}
.selecionadoSobre ion-icon {
    display: initial;
}
.fechar {
    background-color: #32b72f;
    height: 61px;
    margin: 15px 25px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.escondido {
    display: none;
}